<div class="container">
    <button class="btn btn-primary" [routerLink]="['/agregar']" routerLinkActive="router-link-active" >Agregar</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tarea</th>
                <th scope="col">Estado Finalizado</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of lista">
                <td>{{tarea.id}}</td>
                <td>{{tarea.tarea}}</td>
                <td>{{tarea.finalizado}}</td>
                <td>
                    <button class="btn btn-danger" (click)="eliminar(tarea.id)">Eliminar</button>
                    <button class="btn btn-warning" [routerLink]="['/editar/',tarea.id]" routerLinkActive="router-link-active" >Modificar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
